@media screen and (max-width: 414px) {
    img {
        height: 35%;
    }
    .content {
        width: 375px;
        text-align: center;
    }
    
    .content textarea {
        height: 1em;
        width: 15em;
    }
    
    #result {
        margin-left: auto;
        margin-right: auto;
        display:block;
    }
}

html, body {
    height: 100%
}

body {
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color:inherit;
}

a:hover {
    background-color: lightblue;
}

img {
    max-height: 40%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.content {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 5.5%;
}

.content h1 {
    font-size: 25px;
    font-weight: normal;
    text-align: center;
}

.info {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.textbox {
    height: 1em;
    width: 55em;
    border: none;
    border-bottom: 1px solid #8d979b;
}

#button {
    -webkit-appearance: none;
    font-family: "Raleway", sans-serif;
    border: none;
    height: 50px;
    width: 100px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(201, 201, 201);
}

#button:hover {
    background-color: rgb(230, 249, 255);
}

#button:focus {
    background-color: rgb(230, 249, 255);
}

#result {
    text-align: center;
    font-size: 20px;
    line-height: 60px;
    width: 100px;
}

h3 {
    font-size: 20px;
    font-weight: normal;
}

.line {
    width: 55%;
    margin: 0 auto;
    height: 2px;
    background-color: rgb(230, 249, 255);
}

p {
    font-size: 15px;
}

